In [ ]:
import pandas as pd
import numpy as np

In [218]:
df1 = pd.read_csv("Addhar_en_data1.csv")
df2 = pd.read_csv("Addhar_en_data2.csv")
df3 = pd.read_csv("Addhar_en_data3.csv")

In [219]:
df1.columns

Index(['date', 'state', 'district', 'pincode', 'age_0_5', 'age_5_17',
       'age_18_greater'],
      dtype='object')

In [220]:
df2.columns

Index(['date', 'state', 'district', 'pincode', 'age_0_5', 'age_5_17',
       'age_18_greater'],
      dtype='object')

In [221]:
df3.columns

Index(['date', 'state', 'district', 'pincode', 'age_0_5', 'age_5_17',
       'age_18_greater'],
      dtype='object')

In [222]:
df1['source_file'] = 'file1'

In [223]:
df2['source_file'] = 'file2'

In [224]:
df3['source_file'] = 'file3'

In [225]:
df = pd.concat([df1, df2, df3], ignore_index=True)

In [226]:
df = df.drop(columns=['district', 'pincode'])

In [227]:
df['state'] = df['state'].str.strip()

In [228]:
df['state'] = df['state'].str.title()

In [229]:
df.shape

(1006029, 6)

In [230]:
df.head()

         date          state  age_0_5  age_5_17  age_18_greater source_file
0  02-03-2025      Meghalaya       11        61              37       file1
1  09-03-2025      Karnataka       14        33              39       file1
2  09-03-2025  Uttar Pradesh       29        82              12       file1
3  09-03-2025  Uttar Pradesh       62        29              15       file1
4  09-03-2025      Karnataka       14        16              21       file1

In [231]:
df.tail()

,date,state,age_0_5,age_5_17,age_18_greater,source_file
1006024,31-12-2025,West Bengal,2,0,0,file3
1006025,31-12-2025,West Bengal,2,2,0,file3
1006026,31-12-2025,West Bengal,0,1,0,file3
1006027,31-12-2025,West Bengal,1,0,0,file3
1006028,31-12-2025,West Bengal,2,1,0,file3

In [232]:
df['state'].nunique()

49

In [233]:
df = df[~df['state'].str.isnumeric()]

In [234]:
df = df.copy()

df['state'] = (
    df['state']
    .astype(str)
    .str.strip()
    .str.lower()
    .str.replace(r'\s+', ' ', regex=True)
)

In [235]:
state_mapping = {

    # ---------- WEST BENGAL ----------
    'west bengal': 'West Bengal',
    'westbengal': 'West Bengal',
    'west bangal': 'West Bengal',

    # ---------- JAMMU & KASHMIR ----------
    'jammu and kashmir': 'Jammu And Kashmir',
    'jammu & kashmir': 'Jammu And Kashmir',

    # ---------- ODISHA ----------
    'odisha': 'Odisha',
    'orissa': 'Odisha',

    # ---------- ANDHRA PRADESH ----------
    'andhra pradesh': 'Andhra Pradesh',

    # ---------- PUDUCHERRY ----------
    'pondicherry': 'Puducherry',
    'puducherry' : 'Puducherry',

    # ---------- ANDAMAN & NICOBAR ----------
    'andaman and nicobar islands': 'Andaman And Nicobar Islands',
    'andaman & nicobar islands': 'Andaman And Nicobar Islands',

    # ---------- DADRA & DAMAN (MERGED UT) ----------
    'dadra and nagar haveli': 'Dadra And Nagar Haveli And Daman And Diu',
    'daman and diu': 'Dadra And Nagar Haveli And Daman And Diu',
    'dadra & nagar haveli': 'Dadra And Nagar Haveli And Daman And Diu',
    'daman & diu': 'Dadra And Nagar Haveli And Daman And Diu',
    'dadra and nagar haveli and daman and diu' : 'Dadra And Nagar Haveli And Daman And Diu',
    'the dadra and nagar haveli and daman and diu' : 'Dadra And Nagar Haveli And Daman And Diu',

    # ---------- REMOVE GARBAGE ----------
    '100000': None
}

In [236]:
df = df.copy()
df.loc[:, 'state'] = df['state'].replace(state_mapping)

In [237]:
df['state'].unique()

array(['meghalaya', 'karnataka', 'uttar pradesh', 'bihar', 'maharashtra',
       'haryana', 'rajasthan', 'punjab', 'delhi', 'madhya pradesh',
       'West Bengal', 'assam', 'uttarakhand', 'gujarat', 'Andhra Pradesh',
       'tamil nadu', 'chhattisgarh', 'jharkhand', 'nagaland', 'manipur',
       'telangana', 'tripura', 'mizoram', 'Jammu And Kashmir',
       'chandigarh', 'sikkim', 'Odisha', 'kerala',
       'Dadra And Nagar Haveli And Daman And Diu', 'arunachal pradesh',
       'himachal pradesh', 'goa', 'ladakh', 'Andaman And Nicobar Islands',
       'Puducherry', 'lakshadweep'], dtype=object)

In [238]:
df['state'].nunique()

36

In [239]:
sorted(df['state'].unique())

['Andaman And Nicobar Islands',
 'Andhra Pradesh',
 'Dadra And Nagar Haveli And Daman And Diu',
 'Jammu And Kashmir',
 'Odisha',
 'Puducherry',
 'West Bengal',
 'arunachal pradesh',
 'assam',
 'bihar',
 'chandigarh',
 'chhattisgarh',
 'delhi',
 'goa',
 'gujarat',
 'haryana',
 'himachal pradesh',
 'jharkhand',
 'karnataka',
 'kerala',
 'ladakh',
 'lakshadweep',
 'madhya pradesh',
 'maharashtra',
 'manipur',
 'meghalaya',
 'mizoram',
 'nagaland',
 'punjab',
 'rajasthan',
 'sikkim',
 'tamil nadu',
 'telangana',
 'tripura',
 'uttar pradesh',
 'uttarakhand']

In [240]:
state_df = df.groupby('state', as_index=False)[
    ['age_0_5', 'age_5_17', 'age_18_greater']
].sum()

In [241]:
state_df

,state,age_0_5,age_5_17,age_18_greater
0,Andaman And Nicobar Islands,479,32,0
1,Andhra Pradesh,112445,13746,1495
2,Dadra And Nagar Haveli And Daman And Diu,1497,250,52
3,Jammu And Kashmir,40539,8022,535
4,Odisha,99431,22817,739
5,Puducherry,2778,195,44
6,West Bengal,275420,91410,8510
7,arunachal pradesh,1957,2236,151
8,assam,141235,66085,22877
9,bihar,262875,334802,11908
10,chandigarh,2476,211,36
11,chhattisgarh,82453,18769,1997
12,delhi,69183,22296,3050
13,goa,1916,254,163
14,gujarat,193031,71182,16336
15,haryana,88042,9110,1100
16,himachal pradesh,16639,661,186
17,jharkhand,98551,57539,1449
18,karnataka,179262,33863,10110
19,kerala,53737,18590,2675
20,ladakh,466,133,18
21,lakshadweep,192,10,1
22,madhya pradesh,367990,116381,9599
23,maharashtra,278814,82116,8209
24,manipur,5140,8053,263
25,meghalaya,21179,53305,35287
26,mizoram,4136,1295,495
27,nagaland,4512,9953,1122
28,punjab,61224,12350,3172
29,rajasthan,229780,113123,5555
30,sikkim,1054,1047,106
31,tamil nadu,182313,37227,1249
32,telangana,105918,24505,1151
33,tripura,7376,3654,255
34,uttar pradesh,521045,479682,17902
35,uttarakhand,31880,5479,339