In [36]:
import pandas as pd
import numpy as np

In [37]:
df1 = pd.read_csv("Addhar_en_data1.csv")
df2 = pd.read_csv("Addhar_en_data2.csv")
df3 = pd.read_csv("Addhar_en_data3.csv")

In [38]:
df1.columns

Index(['date', 'state', 'district', 'pincode', 'age_0_5', 'age_5_17',
       'age_18_greater'],
      dtype='object')

In [39]:
df2.columns

Index(['date', 'state', 'district', 'pincode', 'age_0_5', 'age_5_17',
       'age_18_greater'],
      dtype='object')

In [40]:
df3.columns

Index(['date', 'state', 'district', 'pincode', 'age_0_5', 'age_5_17',
       'age_18_greater'],
      dtype='object')

In [41]:
df1['source_file'] = 'file1'

In [42]:
df2['source_file'] = 'file2'

In [43]:
df3['source_file'] = 'file3'

In [44]:
df = pd.concat([df1, df2, df3], ignore_index=True)

In [45]:
df = df.drop(columns=['district', 'pincode'])

In [46]:
df['state'] = df['state'].str.strip()

In [47]:
df['state'] = df['state'].str.title()

In [48]:
df.shape

(1006029, 6)

In [49]:
df.head()

         date          state  age_0_5  age_5_17  age_18_greater source_file
0  02-03-2025      Meghalaya       11        61              37       file1
1  09-03-2025      Karnataka       14        33              39       file1
2  09-03-2025  Uttar Pradesh       29        82              12       file1
3  09-03-2025  Uttar Pradesh       62        29              15       file1
4  09-03-2025      Karnataka       14        16              21       file1

In [16]:
df.tail()

,date,state,age_0_5,age_5_17,age_18_greater,source_file
1006024,31-12-2025,West Bengal,2,0,0,file3
1006025,31-12-2025,West Bengal,2,2,0,file3
1006026,31-12-2025,West Bengal,0,1,0,file3
1006027,31-12-2025,West Bengal,1,0,0,file3
1006028,31-12-2025,West Bengal,2,1,0,file3

In [50]:
df['state'].nunique()

49

In [51]:
df = df[~df['state'].str.isnumeric()]

In [52]:
df = df.copy()

df['state'] = (
    df['state']
    .astype(str)
    .str.strip()
    .str.lower()
    .str.replace(r'\s+', ' ', regex=True)
)

In [53]:
state_mapping = {

    # ---------- WEST BENGAL ----------
    'west bengal': 'West Bengal',
    'westbengal': 'West Bengal',
    'west bangal': 'West Bengal',

    # ---------- JAMMU & KASHMIR ----------
    'jammu and kashmir': 'Jammu And Kashmir',
    'jammu & kashmir': 'Jammu And Kashmir',

    # ---------- ODISHA ----------
    'odisha': 'Odisha',
    'orissa': 'Odisha',

    # ---------- ANDHRA PRADESH ----------
    'andhra pradesh': 'Andhra Pradesh',

    # ---------- PUDUCHERRY ----------
    'pondicherry': 'Puducherry',
    'puducherry' : 'Puducherry',

    # ---------- ANDAMAN & NICOBAR ----------
    'andaman and nicobar islands': 'Andaman And Nicobar Islands',
    'andaman & nicobar islands': 'Andaman And Nicobar Islands',

    # ---------- DADRA & DAMAN (MERGED UT) ----------
    'dadra and nagar haveli': 'Dadra And Nagar Haveli And Daman And Diu',
    'daman and diu': 'Dadra And Nagar Haveli And Daman And Diu',
    'dadra & nagar haveli': 'Dadra And Nagar Haveli And Daman And Diu',
    'daman & diu': 'Dadra And Nagar Haveli And Daman And Diu',
    'dadra and nagar haveli and daman and diu' : 'Dadra And Nagar Haveli And Daman And Diu',
    'the dadra and nagar haveli and daman and diu' : 'Dadra And Nagar Haveli And Daman And Diu',

    # ---------- REMOVE GARBAGE ----------
    '100000': None
}

In [54]:
df = df.copy()
df.loc[:, 'state'] = df['state'].replace(state_mapping)

In [55]:
df['state'].unique()

array(['meghalaya', 'karnataka', 'uttar pradesh', 'bihar', 'maharashtra',
       'haryana', 'rajasthan', 'punjab', 'delhi', 'madhya pradesh',
       'West Bengal', 'assam', 'uttarakhand', 'gujarat', 'Andhra Pradesh',
       'tamil nadu', 'chhattisgarh', 'jharkhand', 'nagaland', 'manipur',
       'telangana', 'tripura', 'mizoram', 'Jammu And Kashmir',
       'chandigarh', 'sikkim', 'Odisha', 'kerala',
       'Dadra And Nagar Haveli And Daman And Diu', 'arunachal pradesh',
       'himachal pradesh', 'goa', 'ladakh', 'Andaman And Nicobar Islands',
       'Puducherry', 'lakshadweep'], dtype=object)

In [23]:
df['state'].nunique()

36

In [56]:
sorted(df['state'].unique())

['Andaman And Nicobar Islands',
 'Andhra Pradesh',
 'Dadra And Nagar Haveli And Daman And Diu',
 'Jammu And Kashmir',
 'Odisha',
 'Puducherry',
 'West Bengal',
 'arunachal pradesh',
 'assam',
 'bihar',
 'chandigarh',
 'chhattisgarh',
 'delhi',
 'goa',
 'gujarat',
 'haryana',
 'himachal pradesh',
 'jharkhand',
 'karnataka',
 'kerala',
 'ladakh',
 'lakshadweep',
 'madhya pradesh',
 'maharashtra',
 'manipur',
 'meghalaya',
 'mizoram',
 'nagaland',
 'punjab',
 'rajasthan',
 'sikkim',
 'tamil nadu',
 'telangana',
 'tripura',
 'uttar pradesh',
 'uttarakhand']

In [25]:
state_df = df.groupby('state', as_index=False)[
    ['age_0_5', 'age_5_17', 'age_18_greater']
].sum()

In [74]:
state_df = state_df.drop(columns=['age_disparity_score_norm', 'age_disparity_score'])

In [85]:
state_df

,state,age_0_5,age_5_17,age_18_greater,total_enrollment,pct_0_5,pct_5_17,pct_18_plus,child_transition_disparity,adult_inclusion_gap
0,Andaman And Nicobar Islands,479,32,0,511,93.74,6.26,0.00,87.48,93.74
21,lakshadweep,192,10,1,203,94.58,4.93,0.49,89.66,94.09
31,tamil nadu,182313,37227,1249,220789,82.57,16.86,0.57,65.71,82.01
4,Odisha,99431,22817,739,122987,80.85,18.55,0.60,62.29,80.25
32,telangana,105918,24505,1151,131574,80.50,18.62,0.87,61.88,79.63
35,uttarakhand,31880,5479,339,37698,84.57,14.53,0.90,70.03,83.67
17,jharkhand,98551,57539,1449,157539,62.56,36.52,0.92,26.03,61.64
16,himachal pradesh,16639,661,186,17486,95.16,3.78,1.06,91.38,94.09
3,Jammu And Kashmir,40539,8022,535,49096,82.57,16.34,1.09,66.23,81.48
15,haryana,88042,9110,1100,98252,89.61,9.27,1.12,80.34,88.49
1,Andhra Pradesh,112445,13746,1495,127686,88.06,10.77,1.17,77.30,86.89
10,chandigarh,2476,211,36,2723,90.93,7.75,1.32,83.18,89.61
5,Puducherry,2778,195,44,3017,92.08,6.46,1.46,85.61,90.62
29,rajasthan,229780,113123,5555,348458,65.94,32.46,1.59,33.48,64.35
34,uttar pradesh,521045,479682,17902,1018629,51.15,47.09,1.76,4.06,49.39
11,chhattisgarh,82453,18769,1997,103219,79.88,18.18,1.93,61.70,77.95
22,madhya pradesh,367990,116381,9599,493970,74.50,23.56,1.94,50.94,72.55
9,bihar,262875,334802,11908,609585,43.12,54.92,1.95,-11.80,41.17
24,manipur,5140,8053,263,13456,38.20,59.85,1.95,-21.65,36.24
23,maharashtra,278814,82116,8209,369139,75.53,22.25,2.22,53.29,73.31
33,tripura,7376,3654,255,11285,65.36,32.38,2.26,32.98,63.10
6,West Bengal,275420,91410,8510,375340,73.38,24.35,2.27,49.02,71.11
2,Dadra And Nagar Haveli And Daman And Diu,1497,250,52,1799,83.21,13.90,2.89,69.32,80.32
20,ladakh,466,133,18,617,75.53,21.56,2.92,53.97,72.61
12,delhi,69183,22296,3050,94529,73.19,23.59,3.23,49.60,69.96
7,arunachal pradesh,1957,2236,151,4344,45.05,51.47,3.48,-6.42,41.57
19,kerala,53737,18590,2675,75002,71.65,24.79,3.57,46.86,68.08
28,punjab,61224,12350,3172,76746,79.77,16.09,4.13,63.68,75.64
18,karnataka,179262,33863,10110,223235,80.30,15.17,4.53,65.13,75.77
30,sikkim,1054,1047,106,2207,47.76,47.44,4.80,0.32,42.95
14,gujarat,193031,71182,16336,280549,68.80,25.37,5.82,43.43,62.98
13,goa,1916,254,163,2333,82.13,10.89,6.99,71.24,75.14
27,nagaland,4512,9953,1122,15587,28.95,63.85,7.20,-34.91,21.75
26,mizoram,4136,1295,495,5926,69.79,21.85,8.35,47.94,61.44
8,assam,141235,66085,22877,230197,61.35,28.71,9.94,32.65,51.42
25,meghalaya,21179,53305,35287,109771,19.29,48.56,32.15,-29.27,-12.85

In [27]:
state_df['total_enrollment'] = (
    state_df['age_0_5'] +
    state_df['age_5_17'] +
    state_df['age_18_greater']
)

In [29]:
state_df['pct_0_5'] = (state_df['age_0_5'] / state_df['total_enrollment']) * 100
state_df['pct_5_17'] = (state_df['age_5_17'] / state_df['total_enrollment']) * 100
state_df['pct_18_plus'] = (state_df['age_18_greater'] / state_df['total_enrollment']) * 100

In [88]:
state_df[['state', 'pct_0_5', 'pct_5_17', 'pct_18_plus']].head()

                          state  pct_0_5  pct_5_17  pct_18_plus
0   Andaman And Nicobar Islands    93.74      6.26         0.00
21                  lakshadweep    94.58      4.93         0.49
31                   tamil nadu    82.57     16.86         0.57
4                        Odisha    80.85     18.55         0.60
32                    telangana    80.50     18.62         0.87

In [76]:
state_df["child_transition_disparity"] = state_df["pct_0_5"] - state_df["pct_5_17"]

In [77]:
state_df["adult_inclusion_gap"] = state_df["pct_0_5"] - state_df["pct_18_plus"]

In [80]:
cols_to_round = [
    "pct_0_5", "pct_5_17", "pct_18_plus",
    "child_transition_disparity", "adult_inclusion_gap"
]

state_df[cols_to_round] = state_df[cols_to_round].round(2)

In [91]:
df_ctd_rank = state_df.sort_values("child_transition_disparity")

In [92]:
state_df

,state,age_0_5,age_5_17,age_18_greater,total_enrollment,pct_0_5,pct_5_17,pct_18_plus,child_transition_disparity,adult_inclusion_gap
0,Andaman And Nicobar Islands,479,32,0,511,93.74,6.26,0.00,87.48,93.74
21,lakshadweep,192,10,1,203,94.58,4.93,0.49,89.66,94.09
31,tamil nadu,182313,37227,1249,220789,82.57,16.86,0.57,65.71,82.01
4,Odisha,99431,22817,739,122987,80.85,18.55,0.60,62.29,80.25
32,telangana,105918,24505,1151,131574,80.50,18.62,0.87,61.88,79.63
35,uttarakhand,31880,5479,339,37698,84.57,14.53,0.90,70.03,83.67
17,jharkhand,98551,57539,1449,157539,62.56,36.52,0.92,26.03,61.64
16,himachal pradesh,16639,661,186,17486,95.16,3.78,1.06,91.38,94.09
3,Jammu And Kashmir,40539,8022,535,49096,82.57,16.34,1.09,66.23,81.48
15,haryana,88042,9110,1100,98252,89.61,9.27,1.12,80.34,88.49
1,Andhra Pradesh,112445,13746,1495,127686,88.06,10.77,1.17,77.30,86.89
10,chandigarh,2476,211,36,2723,90.93,7.75,1.32,83.18,89.61
5,Puducherry,2778,195,44,3017,92.08,6.46,1.46,85.61,90.62
29,rajasthan,229780,113123,5555,348458,65.94,32.46,1.59,33.48,64.35
34,uttar pradesh,521045,479682,17902,1018629,51.15,47.09,1.76,4.06,49.39
11,chhattisgarh,82453,18769,1997,103219,79.88,18.18,1.93,61.70,77.95
22,madhya pradesh,367990,116381,9599,493970,74.50,23.56,1.94,50.94,72.55
9,bihar,262875,334802,11908,609585,43.12,54.92,1.95,-11.80,41.17
24,manipur,5140,8053,263,13456,38.20,59.85,1.95,-21.65,36.24
23,maharashtra,278814,82116,8209,369139,75.53,22.25,2.22,53.29,73.31
33,tripura,7376,3654,255,11285,65.36,32.38,2.26,32.98,63.10
6,West Bengal,275420,91410,8510,375340,73.38,24.35,2.27,49.02,71.11
2,Dadra And Nagar Haveli And Daman And Diu,1497,250,52,1799,83.21,13.90,2.89,69.32,80.32
20,ladakh,466,133,18,617,75.53,21.56,2.92,53.97,72.61
12,delhi,69183,22296,3050,94529,73.19,23.59,3.23,49.60,69.96
7,arunachal pradesh,1957,2236,151,4344,45.05,51.47,3.48,-6.42,41.57
19,kerala,53737,18590,2675,75002,71.65,24.79,3.57,46.86,68.08
28,punjab,61224,12350,3172,76746,79.77,16.09,4.13,63.68,75.64
18,karnataka,179262,33863,10110,223235,80.30,15.17,4.53,65.13,75.77
30,sikkim,1054,1047,106,2207,47.76,47.44,4.80,0.32,42.95
14,gujarat,193031,71182,16336,280549,68.80,25.37,5.82,43.43,62.98
13,goa,1916,254,163,2333,82.13,10.89,6.99,71.24,75.14
27,nagaland,4512,9953,1122,15587,28.95,63.85,7.20,-34.91,21.75
26,mizoram,4136,1295,495,5926,69.79,21.85,8.35,47.94,61.44
8,assam,141235,66085,22877,230197,61.35,28.71,9.94,32.65,51.42
25,meghalaya,21179,53305,35287,109771,19.29,48.56,32.15,-29.27,-12.85

In [93]:
df_aig_rank = state_df.sort_values("adult_inclusion_gap", ascending=False)

In [94]:
state_df

,state,age_0_5,age_5_17,age_18_greater,total_enrollment,pct_0_5,pct_5_17,pct_18_plus,child_transition_disparity,adult_inclusion_gap
0,Andaman And Nicobar Islands,479,32,0,511,93.74,6.26,0.00,87.48,93.74
21,lakshadweep,192,10,1,203,94.58,4.93,0.49,89.66,94.09
31,tamil nadu,182313,37227,1249,220789,82.57,16.86,0.57,65.71,82.01
4,Odisha,99431,22817,739,122987,80.85,18.55,0.60,62.29,80.25
32,telangana,105918,24505,1151,131574,80.50,18.62,0.87,61.88,79.63
35,uttarakhand,31880,5479,339,37698,84.57,14.53,0.90,70.03,83.67
17,jharkhand,98551,57539,1449,157539,62.56,36.52,0.92,26.03,61.64
16,himachal pradesh,16639,661,186,17486,95.16,3.78,1.06,91.38,94.09
3,Jammu And Kashmir,40539,8022,535,49096,82.57,16.34,1.09,66.23,81.48
15,haryana,88042,9110,1100,98252,89.61,9.27,1.12,80.34,88.49
1,Andhra Pradesh,112445,13746,1495,127686,88.06,10.77,1.17,77.30,86.89
10,chandigarh,2476,211,36,2723,90.93,7.75,1.32,83.18,89.61
5,Puducherry,2778,195,44,3017,92.08,6.46,1.46,85.61,90.62
29,rajasthan,229780,113123,5555,348458,65.94,32.46,1.59,33.48,64.35
34,uttar pradesh,521045,479682,17902,1018629,51.15,47.09,1.76,4.06,49.39
11,chhattisgarh,82453,18769,1997,103219,79.88,18.18,1.93,61.70,77.95
22,madhya pradesh,367990,116381,9599,493970,74.50,23.56,1.94,50.94,72.55
9,bihar,262875,334802,11908,609585,43.12,54.92,1.95,-11.80,41.17
24,manipur,5140,8053,263,13456,38.20,59.85,1.95,-21.65,36.24
23,maharashtra,278814,82116,8209,369139,75.53,22.25,2.22,53.29,73.31
33,tripura,7376,3654,255,11285,65.36,32.38,2.26,32.98,63.10
6,West Bengal,275420,91410,8510,375340,73.38,24.35,2.27,49.02,71.11
2,Dadra And Nagar Haveli And Daman And Diu,1497,250,52,1799,83.21,13.90,2.89,69.32,80.32
20,ladakh,466,133,18,617,75.53,21.56,2.92,53.97,72.61
12,delhi,69183,22296,3050,94529,73.19,23.59,3.23,49.60,69.96
7,arunachal pradesh,1957,2236,151,4344,45.05,51.47,3.48,-6.42,41.57
19,kerala,53737,18590,2675,75002,71.65,24.79,3.57,46.86,68.08
28,punjab,61224,12350,3172,76746,79.77,16.09,4.13,63.68,75.64
18,karnataka,179262,33863,10110,223235,80.30,15.17,4.53,65.13,75.77
30,sikkim,1054,1047,106,2207,47.76,47.44,4.80,0.32,42.95
14,gujarat,193031,71182,16336,280549,68.80,25.37,5.82,43.43,62.98
13,goa,1916,254,163,2333,82.13,10.89,6.99,71.24,75.14
27,nagaland,4512,9953,1122,15587,28.95,63.85,7.20,-34.91,21.75
26,mizoram,4136,1295,495,5926,69.79,21.85,8.35,47.94,61.44
8,assam,141235,66085,22877,230197,61.35,28.71,9.94,32.65,51.42
25,meghalaya,21179,53305,35287,109771,19.29,48.56,32.15,-29.27,-12.85

In [96]:
final_columns = [
    "state",
    "age_0_5", "age_5_17", "age_18_greater",
    "pct_0_5", "pct_5_17", "pct_18_plus",
    "child_transition_disparity",
    "adult_inclusion_gap"
]

df_final = state_df[final_columns]
df_final

,state,age_0_5,age_5_17,age_18_greater,pct_0_5,pct_5_17,pct_18_plus,child_transition_disparity,adult_inclusion_gap
0,Andaman And Nicobar Islands,479,32,0,93.74,6.26,0.00,87.48,93.74
21,lakshadweep,192,10,1,94.58,4.93,0.49,89.66,94.09
31,tamil nadu,182313,37227,1249,82.57,16.86,0.57,65.71,82.01
4,Odisha,99431,22817,739,80.85,18.55,0.60,62.29,80.25
32,telangana,105918,24505,1151,80.50,18.62,0.87,61.88,79.63
35,uttarakhand,31880,5479,339,84.57,14.53,0.90,70.03,83.67
17,jharkhand,98551,57539,1449,62.56,36.52,0.92,26.03,61.64
16,himachal pradesh,16639,661,186,95.16,3.78,1.06,91.38,94.09
3,Jammu And Kashmir,40539,8022,535,82.57,16.34,1.09,66.23,81.48
15,haryana,88042,9110,1100,89.61,9.27,1.12,80.34,88.49
1,Andhra Pradesh,112445,13746,1495,88.06,10.77,1.17,77.30,86.89
10,chandigarh,2476,211,36,90.93,7.75,1.32,83.18,89.61
5,Puducherry,2778,195,44,92.08,6.46,1.46,85.61,90.62
29,rajasthan,229780,113123,5555,65.94,32.46,1.59,33.48,64.35
34,uttar pradesh,521045,479682,17902,51.15,47.09,1.76,4.06,49.39
11,chhattisgarh,82453,18769,1997,79.88,18.18,1.93,61.70,77.95
22,madhya pradesh,367990,116381,9599,74.50,23.56,1.94,50.94,72.55
9,bihar,262875,334802,11908,43.12,54.92,1.95,-11.80,41.17
24,manipur,5140,8053,263,38.20,59.85,1.95,-21.65,36.24
23,maharashtra,278814,82116,8209,75.53,22.25,2.22,53.29,73.31
33,tripura,7376,3654,255,65.36,32.38,2.26,32.98,63.10
6,West Bengal,275420,91410,8510,73.38,24.35,2.27,49.02,71.11
2,Dadra And Nagar Haveli And Daman And Diu,1497,250,52,83.21,13.90,2.89,69.32,80.32
20,ladakh,466,133,18,75.53,21.56,2.92,53.97,72.61
12,delhi,69183,22296,3050,73.19,23.59,3.23,49.60,69.96
7,arunachal pradesh,1957,2236,151,45.05,51.47,3.48,-6.42,41.57
19,kerala,53737,18590,2675,71.65,24.79,3.57,46.86,68.08
28,punjab,61224,12350,3172,79.77,16.09,4.13,63.68,75.64
18,karnataka,179262,33863,10110,80.30,15.17,4.53,65.13,75.77
30,sikkim,1054,1047,106,47.76,47.44,4.80,0.32,42.95
14,gujarat,193031,71182,16336,68.80,25.37,5.82,43.43,62.98
13,goa,1916,254,163,82.13,10.89,6.99,71.24,75.14
27,nagaland,4512,9953,1122,28.95,63.85,7.20,-34.91,21.75
26,mizoram,4136,1295,495,69.79,21.85,8.35,47.94,61.44
8,assam,141235,66085,22877,61.35,28.71,9.94,32.65,51.42
25,meghalaya,21179,53305,35287,19.29,48.56,32.15,-29.27,-12.85